<ion-view title="Home" >
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button">Edit</button>
    </ion-nav-buttons>

    <ion-content class="has-header nav-title-slide-ios7 fade-in" overflow-scroll="scroll" scrollbar-x="true" scrollbar-y="false">
        <div class="bar bar-header bar-dark">
            <h1 class="title">Header</h1>
        </div>
        <div class="bar bar-subheader item-input-inset ">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>

        <div class="has-header has-subheader has-footer padding">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
                eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
            </p>

            <button class="button button-block">
                Default
            </button>

            <button class="button button-light button-block">
                button-light
            </button>

            <button class="button button-stable button-block">
                button-stable
            </button>

            <button class="button button-positive button-block">
                button-positive
            </button>

            <button class="button button-calm">
                button-calm
            </button>

            <button class="button button-balanced">
                button-balanced
            </button>

            <button class="button button-energized">
                button-energized
            </button>

            <button class="button button-assertive">
                button-assertive
            </button>

            <button class="button button-royal">
                button-royal
            </button>

            <button class="button button-dark">
                button-dark
            </button>

            <button class="button">
                <i class="icon ion-loading-c"></i> Loading...
            </button>

            <button class="button icon-left ion-home">Home</button>

            <button class="button icon-left ion-star button-positive">Favorites</button>

            <a class="button icon-right ion-chevron-right button-calm">Learn More</a>

            <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <button class="button icon ion-gear-a"></button>

            <a class="button button-icon icon ion-settings"></a>

            <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>

            <div class="button-bar">
                <a class="button">First</a>
                <a class="button">Second</a>
                <a class="button">Third</a>
            </div>



        <div class="list">

            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                Check mail
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-chatbubble-working"></i>
                Call Ma
                <i class="icon ion-ios7-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-mic-a"></i>
                Record album
                <span class="item-note">
                    Grammy
                </span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">10</span>
            </a>
        </div>


        <div class="list">
            <div class="item item-button-right">
                Call Ma
                <button class="button button-positive">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
        </div>

            <div class="list">
                <a class="item item-avatar" href="#">
                    <img src="http://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>
            </div>




            <div class="list">

                <a class="item item-thumbnail-left" href="#">
                    <img src="http://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7.jpg" class="rounded">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>

                <a class="item item-thumbnail-left" href="#">
                    <img src="http://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
            </div>




            <div class="list card">

                <div class="item item-avatar">
                    <img src="http://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7.jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>

                <div class="item item-body">
                    <img class="full-image fade-in" src="http://images.fotocommunity.de/bilder/bearbeitungs-techniken/filtertechniken/zurueck-in-die-zukunft-teil-iv-69dd3963-acc4-4729-8dee-4a853b173aa0.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>

            </div>


            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Comments"></textarea>
                </label>
            </div>


            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Suhr">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="john@suhr.com">
                </label>
            </div>

            <div class="content has-header">

                <ul class="list">
                    <li class="item item-toggle">
                        HTML5
                        <label class="toggle toggle-positive">
                            <input type="checkbox" checked="">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        CSS3
                        <label class="toggle toggle-calm">
                            <input type="checkbox" checked="">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Flashplayer
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Java Applets
                        <label class="toggle toggle-energized">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        JavaScript
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" checked="">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Silverlight
                        <label class="toggle toggle-royal">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Web Components
                        <label class="toggle toggle-dark">
                            <input type="checkbox" checked="">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>

            </div>



            <!-- END -->
        </div>
    </ion-content>
</ion-view>
