!.gitkeep
.DS_Store
.idea
.sass-cache
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
/nbproject
/node_modules
/report
/temp
/www/js/*.js
/www/lib/**/*.js
/www/js/sourcemap.map
/www/lib/bower
atlassian-ide-plugin.xml
bower_components/
logs/*
node_modules/
npm-debug.log
tmp
